@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Ubuntu:wght@300&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  min-width: 32rem;
  font-size: 1.6rem;
}

/* reset settings for all browser */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

header h1 {
  word-spacing: 0.5rem;
  letter-spacing: 0.3rem;
}

header ul {
  list-style-type: none;
  display: flex;
  padding: 0 2rem;
  font-size: 2rem;
}

header li {
  padding: 0 2rem;
  color: black;
}

header li:not(:last-child) {
  border-right: 2px solid black;
}

header a {
  font-weight: bold;
}

header a:hover {
  text-decoration: none;
}

.quote-container {
  display: flex;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
}

.calculator-container {
  display: flex;
  justify-content: space-between;
}

.calculator-container h2 {
  width: 40%;
  padding-left: 3rem;
  padding-top: 2rem;
}

.home {
  padding: 3rem;
}

.home h1 {
  padding: 2rem;
}

.home p {
  padding: 2rem;
  font-size: larger;
}

.calculator {
  width: 60%;
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.darkGray {
  width: 90%;
  background-color: #858694;
  color: white;
  padding: 2rem;
  font-size: 2rem;
  text-align: right;
}

.list {
  width: 90%;
  list-style-type: none;
  height: auto;
  font-size: 2rem;
}

.row {
  width: 100%;
  height: auto;

  /* display: grid;
 grid-template-columns: auto auto auto auto; */
  display: flex;
  flex: 1 1 25%;
}

.lightGray {
  background-color: #e0e0e0;
  padding: 2rem;
  flex-basis: 25%;
  border: 1px solid gray;
}

.orange {
  background-color: #f5913e;
  padding: 1rem;
  flex-basis: 25%;
  border: 1px solid gray;

  /* border-right: 1px solid gray;  */
}

.lightGray2 {
  flex-basis: 50%;
  background-color: #e0e0e0;
  padding: 2rem;
  border: 1px solid gray;
}

.orange:hover {
  background-color: #ef8732;
}

.lightGray:hover,
.lightGray2:hover {
  background-color: #d5d2d2;
}
